{% extends 'base.html.twig' %}

{% block body %}	
	<div class="container background-inverse">
		<div class="row">
			<div class="col-md-12 background-inverse">
				<h1>Admin Dashboard</h1>
			</div>
		</div>
		<!-- Left-hand Nav Bar -->
		<div class="row">
    		<div class="col-md-3 background-inverse">
    			<div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Site Administration</div>
                  <div class="panel-body">
                    <p>From this page you can administrate the main areas of the site, including the homepage layout, the image library, and the backend database content</p>
                  </div>
                
                  <!-- List group -->
                  <ul class="list-group">
                    <li class="list-group-item"><a href="{{ path("admin_recipe") }}">Manage Recipes</a></li>
                    <li class="list-group-item"><a href="{{ path("admin_ingredient") }}">Manage Ingredients</a></li>                    
                    <li class="list-group-item"><a href="{{ path("admin_preparation") }}">Manage Preparations</a></li>
                    <li class="list-group-item"><a href="{{ path("admin_uom") }}">Manage Measurements</a></li>
                    <li class="list-group-item"><a href="{{ path("admin_mealtype") }}">Manage Mealtypes</a></li>
                  </ul>
                  <ul class="list-group">
                    <li class="list-group-item"><a href="{{ path("admin_homepage") }}">Manage Homepage</a></li>
                  </ul>
                  <ul class="list-group">
                    <li class="list-group-item"><a href="{{ path("admin_image") }}">Manage Images</a></li>
                  </ul>                  
                  <ul class="list-group">
                    <li class="list-group-item"><a href="{{ path("blog_admin") }}">Blog Entries</a></li>
                  </ul>                  
                  <ul class="list-group">
                    <li class="list-group-item"><a href="{{ path("homepage") }}">Home</a></li>
                  </ul>
                </div>			
    		</div>
    		
    		<!-- Main Page Area -->
    		<div class="col-md-9" style="background-color: #FFF; color: #333">
    		{% block adminpage %}{% endblock %}
    		</div>
		</div>
	</div>
{% endblock body %}