{% extends 'base.html.twig' %}

{% block body %}	
	<div class="container background-inverse">
		<div class="row">
			<div class="col-md-12 background-inverse">
				<h1>Admin Dashboard</h1>
			</div>
		</div>
		<!-- Left-hand Nav Bar -->
		<div class="row">
    		<div class="col-md-3 background-inverse">
    			<ul>
    				<li><a href="{{ path("admin_recipe") }}">Manage Recipes</a></li>
    				<li><a href="{{ path("admin_ingredient") }}">Manage Ingredients</a></li>    				
    				<li><a href="{{ path("admin_preparation") }}">Manage Preparations</a></li>
    				<li><a href="{{ path("admin_uom") }}">Manage Measurements</a></li>
    				<li><a href="{{ path("admin_mealtype") }}">Manage Mealtypes</a></li>
    			</ul>
    			
    			<ul>
    				<li><a href="{{ path("admin_homepage") }}">Manage Homepage</a></li>
    			</ul>
    			
    			<ul>
    				<li><a href="{{ path("homepage") }}">Home</a></li>
    			</ul>    			
    		</div>
    		
    		<!-- Main Page Area -->
    		<div class="col-md-9" style="background-color: #FFF; color: #333">
    		{% block adminpage %}{% endblock %}
    		</div>
		</div>
	</div>
{% endblock body %}