<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset("build/global.css") }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset("build/main.css") }}" />        
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        
        <script type="text/javascript" src="{{ asset('build/manifest.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/vendors.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
