{% macro imageTemplate(fields, isNew) %}
	<div class="well">	
        <div class="row">
        {% if isNew == true %}
        	<div class="form-group">
        		{{ form_label(fields.image) }}
        		<div class="col-sm-10">        		
        			<div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse&hellip; {{ form_widget(fields.image, {"attr": {"style":"display:none;"}}) }}
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
    		{{ form_row(fields.imageCaption) }}
    		{{ form_row(fields.imageCopyright) }}
    	{% else %}
            <div class="form-group">
              <div class="col-sm-6 text-center">
                  <img src="{{ asset('upload/' ~ fields.imageFilepath.vars.value ~ '/small.jpg') }}" alt="{{ fields.imageCaption.vars.value }}" />
              </div>            
              <div class="col-sm-6">
                  {{ form_label(fields.imageCaption) }}
                  {{ form_widget(fields.imageCaption) }}
                  {{ form_label(fields.imageCopyright) }}
                  {{ form_widget(fields.imageCopyright) }}
                  <div>File Size: {{ fields.imageSize.vars.value }} bytes</div>
              </div>
            </div>
    	{% endif %}
    		<div class="pull-right"><a href="#" onclick="remove(this)">Remove</a></div>
        </div>
	</div>
{% endmacro %}

{# 
   The block name must match your field name!
   You can find it by going into the debug toolbar -> Forms -> 
   click on your form field and then search for "unique_block_prefix". 
   Copy that and add "_widget" at the end.
#}

{% block _appbundle_ingredient_imageCollection_images_widget %}
    <div id="appbundle_imagecollection_images" data-prototype="{{ _self.imageTemplate(form.vars.prototype, isNew)|e }}">
        {% for fields in form.children %}
            {{ _self.imageTemplate(fields, isNew) }}
        {% endfor %}
    </div>
{% endblock %}

{% block _appbundle_imagecollection_images_widget %}
    <div id="appbundle_imagecollection_images" data-prototype="{{ _self.imageTemplate(form.vars.prototype, isNew)|e }}">
        {% for fields in form.children %}
            {{ _self.imageTemplate(fields, isNew) }}
        {% endfor %}
    </div>
{% endblock %}