{% extends 'adminlayout.html.twig' %}
{% form_theme form with [
    'bootstrap_3_horizontal_layout.html.twig',
    '::/form/fields/imageCollection.html.twig'
] %}

{% block title %}{{ 'admin.dashboard' | trans }}{% endblock %}

{% block adminpage %}
<h2>Testing...</h2>

{{ form_start(form) }}
{{ form_widget(form.images, {"isNew":isNew}) }}
{{ form_end(form) }}

{% endblock adminpage %}

{% block javascripts %}
{{ parent() }}
{% javascripts 'resources/js/imagecollection.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
