{% extends 'adminlayout.html.twig' %}
{% block title %}{{ 'admin.dashboard' | trans }}{% endblock %}
{% block adminpage %}
<h2>{{ 'admin.mealtype.title' | trans }}</h2>
<h3>Meal Types already managed</h3>
<div class="well pre-scrollable" style="height: 400px;">
    
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'admin.mealtype.table.name' | trans }}</th>
                <th>{{ 'admin.mealtype.table.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for i in mealtypes %}
            <tr>
                <td class="filterable-cell">{{ i.name }}</td>
                <td>
                    <a href="{{ path("admin_mealtype", {"slug": i.slug}) }}">edit</a>
                    <a href="#">delete</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2">{{ 'admin.mealtype.table.no_data' | trans }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if isNew == true %}
<h3>Add New Mealtype</h3>
{% else %}
<a class="pull-right" href="{{ path("admin_mealtype") }}">Create New</a>
<h3>Modify Mealtype</h3>
{% endif %}
{% form_theme form with [
    'bootstrap_3_horizontal_layout.html.twig'
] %}
{{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.submit) }}
        {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}    
{% endblock adminpage %}