{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-10"
			style="height: 350px; background: url('{{ mainImage }}') no-repeat center center; background-size: cover; padding: 0px;">
			<nav class="navbar navbar-default navbar-fixed-top" id="mainNav">
				<ul class="navbar-nav nav">
					<li><a href="#">Home</a></li>
					<li><a href="{{ path("recipe_list") }}">Recipes</a></li>
					<li><a href="{{ path("admin_recipe") }}">Admin</a></li>
				</ul>
			</nav>
			<div class="text-center" style="height: 300px;">	
			    <div class="input-group search">		
				<input class="form-control" name="search" placeholder="{{ 'homepage.search.placeholder' | trans}}" aria-describedby="basic-addon2" />
				<span class="input-group-addon btn btn-primary" id="basic-addon2">
				    Search&hellip;
				</span>
				</div>
			</div>			
		</div>
		<div class="col-md-1">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-md-1">&nbsp;</div>
		<div class="col-md-10 text-center h3">Parsley & Chives</div>
		<div class="col-md-1">&nbsp;</div>
	</div>
	<div class="row">
		<div class="col-md-2">&nbsp;</div>
		
		{% for r in featuredRecipes %}
		<div class="col-md-2" style="margin: 5px;">
			<figure class="figure">
				{{ dump(featuredImages) }}
				<img class="img-responsive figure-img rounded" src="{{ asset("test") }}" />
				<figcaption class="figure-caption text-center" style="background-color: #DDD;">{{ r.getTitle() }}</figcaption>
			</figure>			
		</div>
		{% else %}
		<div class="col-md-8 text-center">{{ 'homepage.no_recipes_found' | trans }}</div>
		{% endfor %}		
		<div class="col-md-2">&nbsp;</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

